@model UserSingInUpViewModel
@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Login.cshtml";
}
<div class="mb-20">
	<h3>BarkodD Giriş</h3>
	<p class="opacity-60 font-weight-bold">Hesabınıza giriş yapmak için bilgilerinizi giriniz.</p>
</div>
<form class="form" method="post">
	<div class="form-group">
		<input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" value="yaprak" type="text" placeholder="Kullanıcı Adınız" asp-for="@Model.UserName" autocomplete="off" />
	</div>
	<div class="form-group">
		<input class="form-control h-auto text-white placeholder-white opacity-70 bg-dark-o-70 rounded-pill border-0 py-4 px-8 mb-5" value="Qwe123+-!!!" type="password" placeholder="Şifreniz" asp-for="@Model.Password" />
	</div>
	<div class="form-group text-center mt-10">
		<button type="submit" id="kt_login_signin_submit" class="btn btn-pill btn-outline-white font-weight-bold opacity-90 px-15 py-3">Giriş Yap</button>
	</div>
</form>